# 데이터 타입 조정

- 변수(columns) 타입 확인: `표.dtypes`
- 변수를 범주형으로 변경 : `표['칼럼명'].astype('category')`
- 변수를 수치형으로 변경 : `표['칼럼명'].astype('int')`, `표['칼럼명'].astype('int')` 
- NA값의 처리 :   
  - NA 갯수 체크 - `표.isna().sum()`
  - NA 값 채우기 - `표['칼럼명'].fillna(수)`

In [2]:
import pandas as pd

iris = pd.read_csv('iris2.csv')
iris.head()  # 품종이 숫자형태기 때문에 범주형으로 인식하지 못하고 원핫인코딩이 되지 않음

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [3]:
print(iris.dtypes)  # 각 칼럼의 자료형을 뱉어냄

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

In [7]:
# 품종 타입을 범주형으로 바꿈
iris['품종'] = iris['품종'].astype('category')
print(iris.dtypes)

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

In [8]:
encoding = pd.get_dummies(iris)
encoding.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_0  품종_1  품종_2
0   5.1  3.5    1.4   0.2     1     0     0
1   4.9  3.0    1.4   0.2     1     0     0
2   4.7  3.2    1.3   0.2     1     0     0
3   4.6  3.1    1.5   0.2     1     0     0
4   5.0  3.6    1.4   0.2     1     0     0

In [9]:
iris.isna().sum()  # NA 값 확인

꽃잎길이     0
꽃잎폭      1
꽃받침길이    0
꽃받침폭     0
품종       0
dtype: int64

In [10]:
iris.tail()

     꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.0    5.2   2.3  2
146   6.3  2.5    5.0   1.9  2
147   6.5  3.0    5.2   2.0  2
148   6.2  3.4    5.4   2.3  2
149   5.9  NaN    5.1   1.8  2

In [13]:
# NA 값에 꽃잎폭 평균값을 넣는 방법
mean = iris['꽃잎폭'].mean()
iris['꽃잎폭'] = iris['꽃잎폭'].fillna(mean)
iris.tail()

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭 품종
145   6.7  3.000000    5.2   2.3  2
146   6.3  2.500000    5.0   1.9  2
147   6.5  3.000000    5.2   2.0  2
148   6.2  3.400000    5.4   2.3  2
149   5.9  3.054362    5.1   1.8  2