# Pandas

Pandas : 데이터 조작 및 분석을 위해 Python으로 작성된 소프트웨어 라이브러리.

## 활용

- csv 파일 읽어오기 : `pd.read_csv(파일 경로)`
- 표의 형태(행, 열 값) 출력하기 : `print(표.shape)`
- 칼럼(열) 이름 확인 : `print(표.columns)`
- 칼럼 선택하기 : `표[['칼럼 이름']]` 또는 `표[['칼럼 이름1', '칼럼 이름2']]`
- 상위 관측치 5개 출력하기 : `표.head()`

In [4]:
import pandas as pd

## csv 파일 읽어오기
`pd.read_csv(파일 경로)`

In [19]:
file_path = 'lemonade.csv'
lemonade = pd.read_csv(file_path)

file_path = 'boston.csv'
boston = pd.read_csv(file_path)

file_path = 'iris.csv'
iris = pd.read_csv(file_path)

## 표의 형태(행, 열 값) 출력하기
`print(표.shape)`

In [12]:
print(lemonade.shape)
print(boston.shape)
print(iris.shape)

(6, 2)
(506, 14)
(150, 5)

## 칼럼(열) 이름 확인
`print(표.columns)`

In [13]:
print(lemonade.columns)
print(boston.columns)
print(iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

## 칼럼 선택하기
 `표[['칼럼 이름']]` 또는 `표[['칼럼 이름1', '칼럼 이름2']]`

In [16]:
indep = lemonade[['온도']]
dep = lemonade[['판매량']]
print(indep, dep, sep= '\n')

   온도
0  20
1  21
2  22
3  23
4  24
5  25
   판매량
0   40
1   42
2   44
3   46
4   48
5   50

## 상위 관측치 5개 출력하기
`표.head()`

In [18]:
lemonade.head()

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48